@media (max-width:414px){
    #caption{
        font-size: 70px;
    }
    #board{
        top: 18%;
        left: -53%;
        width: 350px;
        height: 350px;
        filter: drop-shadow(2px 2px 4px black);
    }
    
    .tile{
        height: 35px;
        width: 35px;
    }
    #scoreboard{
        position: absolute;
        top: 80%;
        left: 8%;
        width: 180px;
        filter: drop-shadow(2px 2px 4px rgb(0, 0, 0));
    }
    #name{
        font-size: 25px;
    }
    p{
        font-size: 20px;
    }
    #button{
        top: 80%;
        right: 8%;
        width: 130px;
        height: 125px;
        font-size: 25px;
        padding-left: 30px;
        filter: drop-shadow(2px 2px 4px rgb(0, 0, 0));
    }
    .popup-content{
        width: 90%;
    }
    #popbutton{
        margin-left: 27%;
        margin-top: 10px;
    }
}

@media (max-width:394px){
    #caption{
        font-size: 70px;
    }
    #board{
        top: 18%;
        left: -58%;
        width: 350px;
        height: 350px;
        filter: drop-shadow(2px 2px 4px black);
    }
    
    .tile{
        height: 35px;
        width: 35px;
    }
    #scoreboard{
        position: absolute;
        top: 80%;
        left: 8%;
        width: 180px;
        filter: drop-shadow(2px 2px 4px rgb(0, 0, 0));
    }
    #name{
        font-size: 25px;
    }
    p{
        font-size: 20px;
    }
    #button{
        top: 80%;
        right: 8%;
        width: 120px;
        height: 125px;
        font-size: 25px;
        padding-left: 25px;
        filter: drop-shadow(2px 2px 4px rgb(0, 0, 0));
    }
    .popup-content{
        width: 90%;
    }
    #popbutton{
        margin-left: 27%;
        margin-top: 10px;
    }
}


@media screen and (max-width:370px){
    #caption{
        font-size: 70px;
    }
    #board{
        position: absolute;
        left: -66%;
        top: 20%;
        width: 350px;
        height: 350px;
        filter: drop-shadow(2px 2px 4px rgb(0, 0, 0));
    }
    .tile{
        height: 35px;
        width: 35px;
    }
    #scoreboard{
        top: 80%;
        left: 4%;
        padding: 10px;
        width: 200px;
        filter: drop-shadow(2px 2px 4px rgb(0, 0, 0));
    }
    #name{
        font-size: 25px;
    }
    p{
        font-size: 20px;
    }
    #button{
        top: 80%;
        width: 130px;
        right: 4%;
        height: 105px;
        filter: none;
        padding-left: 30px;
        font-size: 25px;
        filter: drop-shadow(2px 2px 4px rgb(0, 0, 0));
    }
    .popup-content {
        width: 90%;
        height: 350px;
    }
    #popmessage{
        filter: drop-shadow(2px 2px 4px rgb(0, 0, 0));
        line-height: 30px;
    }
    #popbutton{
        padding: 30px auto 30px auto;
        margin-left: 22%;
        margin-top: 20px;
        font-size: 30px;
        transition:none;
    }
} 

